name: CI

on:
  pull_request:
  push:
    branches: ["**"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Check
        run: bun run check

      - name: Format
        run: bun run format

      - name: Lint
        run: bun run lint

      - name: Build
        run: bun run build

      # - name: Knip (dead code)
      #   run: bun run knip
